html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, img,  sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
figure, figcaption, footer, header, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	
	font-size: 100%;
	box-sizing: border-box;
}
ul, menu { list-style: none; }
table { border-collapse: collapse; }
a { text-decoration: none }